.newart span {
  font-size: 14px;
  margin-top: 20px;
}
.newart input {
  width: 100%;
  height: 33px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px rgb(138, 138, 138) solid;
}

.newart {
  display: flex;
  flex-direction: column;
  direction: rtl;
}
