.article {
  text-align: center;
  font-size: 20px;
}

/* تاریخ */
.date {
  direction: rtl;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
}

.date p {
  margin-right: 12px;
  font-size: 24px;
  color: #666;
}

.article h1 {
  direction: rtl;
  text-align: start;
  font-size: 22px;
  margin-top: 40px;
  margin-right: 40px;

  font-weight: 700;
  line-height: 1.4;
  color: #222;
}

.article img {
  width: 600px;
  max-width: 100%;
  border-radius: 20px;
  margin-top: 40px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.par {
  width: 900px;
  max-width: 100%;
  margin: 50px auto 0;
  direction: rtl;
  line-height: 1.9;
  font-size: 16px;
  color: #333;
  text-align: justify;
}
