.Textarea textarea {
  width: 100%;
  min-height: 250px;
  border: 1px rgb(138, 138, 138) solid;
  resize: none;
  font-size: 14px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}

.Textarea span {
  font-size: 14px;
  /* margin-top: 20px;
  margin: 20px 0px; */
}
.Textarea {
  direction: rtl;
  margin-top: 30px;
}
