.maghale {
  margin-top: 40px;
  /* width: 23%; */
  height: 440px;
  /* background-color: rgb(239, 239, 239); */
  margin-right: 5px;
  box-shadow: 1px 1px 6px rgb(137, 137, 137);
}

.ArticleDiv {
  width: 100%;
}

.maghale img {
  width: 100%;
  height: 330px;
  /* background-color: rgb(168, 235, 255); */
}

.maghale h3 {
  direction: rtl;
  text-align: right;
  font-size: 18px;
  margin-right: 8px;
}

.maghale p {
  direction: rtl;
  text-align: right;
  font-size: 14px;
  color: rgb(105, 105, 105);
  margin-right: 8px;
}
